<mat-toolbar color="primary" class="mat-elevation-z5">
  <span class="print_icon">
    <mat-icon>print</mat-icon> myResume
  </span>

  <div class="spacer"></div>
  <a mat-button>About</a>
  <a mat-button>Contact</a>
  <a mat-raised-button color="accent">Login</a>
</mat-toolbar>

<mat-card class="container">
  <mat-card-title class="title">
    Welcome Back!
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="loginForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email ID</mat-label>
        <input formControlName="email" matInput placeholder="Ex. yourname@gmail.com">
        <mat-error>Invalid format!</mat-error>
        <!-- <mat-hint style="color: red;" *ngIf="loginForm.get('email').touched && loginForm.get('email').errors?.required"> -->
        <!-- </mat-hint> -->
      </mat-form-field> <br>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="pass" matInput [type]="hide ? 'password' : 'text'" placeholder="">
        <mat-error *ngIf="loginForm.controls['pass'].errors?.required">Cannot be empty!</mat-error>
        <mat-error *ngIf="loginForm.controls['pass'].errors?.minlength">Min. 8 characters!</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </form>

  </mat-card-content>

  <mat-card-actions align=end>

    <button mat-raised-button color="warn" (click)="onRegister()">Register</button>
    <button mat-raised-button color="accent" (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>

  </mat-card-actions>
</mat-card>
