.spacer {
  flex: 1 1 auto;
}

.print_icon {
  cursor: pointer;
}

.card_container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  min-height: 80%;
}

.nextButton{
  float: right;
}

.example-full-width {
  width: 200px;
}

.example-full-width-yr {
  width: 150px;
  margin-right: 20px;
}

.example-full-width-desc {
  width: 230px;
  margin-right: 20px;
}

.example-full-width-four {
  width: 200px;
  margin-right: 20px;
  margin-top: 10px;
}

.stepper_container {
  height: 100%;
}

.forth_title {
  padding-bottom: 100px;
}

.mat-slider-horizontal {
  height: 48px;
  min-width: 175px;
  margin-top: 15px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
  margin-top: 15px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  margin-bottom: 5%;
}
