<!-- Header -->

<mat-toolbar color="primary" class="mat-elevation-z5">
  <span class="print_icon">
    <mat-icon>print</mat-icon> myResume
  </span>

  <div class="spacer"></div>
  <a mat-raised-button class="header-buttons">Edit</a>
  <a mat-raised-button class="header-buttons" color="warn" (click)="onLogout()">Logout</a>
</mat-toolbar>

<!-- End of Header -->

<!-- Body -->

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Template 1</mat-card-title>
    <mat-card-subtitle>Designer Resume</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://www.resumonk.com/assets/template-thumbnails/regal-d159caed5f8e0146b0c60a821c22d0c251b844826a017542a4dfa7c4a7462db2.jpg"
    alt="Photo of a Shiba Inu">

  <mat-card-actions>
    <button mat-raised-button color="primary">Create</button>

  </mat-card-actions>
</mat-card>

<mat-card class="example-card-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image-2"></div>
    <mat-card-title>Template 2</mat-card-title>
    <mat-card-subtitle>Basic Resume</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="https://www.resumonk.com/assets/template-thumbnails/regal-d159caed5f8e0146b0c60a821c22d0c251b844826a017542a4dfa7c4a7462db2.jpg"
    alt="Photo of a Shiba Inu">

  <mat-card-actions>

    <button mat-raised-button color="primary">Create</button>
  </mat-card-actions>
</mat-card>

<!-- End of Body -->
